<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" /> <!--Couldn't get this href to work... super weird. oh well.-->
</head>

<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="GradeCalculator">Grade Calculator</a></li>
            </ul>
        </menu>
    </header>

    @RenderBody()

    <footer>Created by Nate Stapleton, 2021</footer>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradecalculator.js"></script>
</body>
</html>