@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Nate Stapleton's Website";
}

<!DOCTYPE html>
<html>

<body>

    <img src="~/img/natewithfriends.jpg" />
    <p>
        I really hope that 413 will just teach me more about how applications are set up in organizations.  From what I understand, it seems like that will be a part of this class!  I have enjoyed what I have learned so far in my other classes,
        but am also just excited to learn more about how an actual organization will operate and how to set up the code. Already from working on this project I can see how ASP.net would be very useful in a larger organization!
    </p>
    <br />
    <p>Top 3 Jobs for Nate Stapleton</p>
    <ul>
        <li>CTO at a fancy tech startup</li>
        <li>Personal assisstant to Elon Musk</li>
        <li>Freelance Pharmaceutical Salesman</li>
    </ul>

</body>
</html>